

.accordions {
    .accordions-intro {
        @extend .content-style;
        padding-bottom: 20px;
    }

    .accordions-inner {
        .accordion {
            position: relative;

            &:before {
                position: absolute;
                top: 25px;
                right: 20px;
                font-size: 3em;
                content: '\000BB';
                font-weight: bold;
                color: white;
                z-index: 1;
                transition: transform 300ms ease-in-out;
                transform: rotate( -90deg );
                pointer-events: none;

                @include respond-to( $bp-m ) {
                    top: 27px;
                    right: 30px;
                }

                @include respond-to( $bp-l ) {
                    right: 40px;
                }

                @include respond-to( $bp-xl ) {
                    top: 30px;
                    right: 50px;
                }
            }

            &.open:before {
                transform: rotate( 90deg );
            }

            .accordion-title {
                font-weight: normal;
                position: relative;                
                color: white;
                font-size: 2em;
                border-top: 1px solid $navy;
                text-transform: uppercase;
                letter-spacing: .5px;
                cursor: pointer;
                @include padding-side( 15px, 25px );
                padding-right: 50px;
                background: $grey;
            }

            .accordion-content {
                @include padding-side( 25px, 35px );
                @extend .content-style;
                display: none;
            }

            &.open {
                .accordion-title {
                    &:before {
                        content: '-';
                    }
                }

                .accordion-content {
                    //display: block;
                }
            }

            &.navy {
                .accordion-title {
                    background: $navy;
                }
            }

            &.purple {
                .accordion-title {
                    background: $purple;
                }
            }
        }
    }
}

